.page-body {
  padding: 0 $gutter-width/2;
  @include container;
  &__inner {
    @extend .container;
    // padding: 0 $gutter-width/2;
  }
  ul.fancy {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    li {
      background-image: url(/content/images/uploaded/list-marker.png);
      background-repeat: no-repeat;
      background-position: 0 0.25em;
      padding-left: 1.2em;
      line-height: 1.8;
    }
  }
}
.home-page-body .page-body {
  max-width: none;
}
